<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
		<title>Repository of Thoughts</title>
	</head>

	<body id="centre">
		<div id="marginTop"><a href="/"></a></div>
		<div id="maincontainer"> <%=statuscode%></div><br/>
	</body>
</html>