<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<title>Repository of Thoughts</title>
	</head>

	<body id="backgroundColor">
		<div id="marginTop"></div>
		<div id="centre" class="box"> Read <a href="testYourAssumption.html">Test your assumptions</a> <br/>
			Look at this <a href="webdriverPractisePage.html"> webdriver practise page </a><br/>
			If you ever wondered what the distribuition of Santander bikes and Underground station distribuition is over London look at this
		<a href="ProperMapPage.html"> map. </a> <br/>
		<a href="/httpcodes/200"> HTTP code 200 </a> This will show you a 200 message, for any other code, substitute 200 with the http code you want<br/>
		</div>
		<!--div id="rightColumn" class="box"></div-->
	</body>
</html>
