<?php include "../templates/top.php"?>

<html>
    <head>
    <link rel="stylesheet" type="text/css" href="stylesheets\style.css">
     <title> Page to test links </title>
    </head>

	<body id="backgroundcolor">
<div id="marginTop"></div>
	<div id="centre" class="box">
			<strong> I have clicked a link and I have landed here. </a></strong>
			<p>
		    	Now I want to click this <a style="color:#fecb04" href="webdriverPractisePage.html"> link <a/> to go back for next test
			</p>
    </div>
	</body>
</html>
