#marginTop{
	height: 220px;
	background-image: url(../images/NewLogo.png);
	background-repeat:no-repeat;
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

.box{
	background-color:white;
	border-radius: 25px;
	padding:25px;
	border:2px solid black;
}

#rightColumn{
	float:right;
	width: 20%;
}

#backgroundColor{
	background-color:#3333CC;
}


#ulMenuHeader{
	float: right;
	list-style: inline;
}

#map {
	width: 100%;
	height: 500px;
}

  #legend {
    background: white;
    padding: 10px;
  }

#centre{
	float:left;
	width: 80%;
	margin-left:10%;
}

body{
	font-size: 18px;
	line-height:25px;
	clear:both;
}
