<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<title>Repository of Thoughts</title>
	</head>

	<body id="centre">
		<div id="marginTop"></div>
		<div id="maincontainer"> Read <a href="testYourAssumption.html">Test your assumptions</a> <br/><br/>
			Look at this <a href="webdriverPractisePage.html"> webdriver practise page </a><br/><br/>
			Or you could practise with a login scenario with the <a href="loginPage.html"> fake login page </a><br/><br/>
	<!-- 		If you ever wondered what the distribuition of Santander bikes and Underground station distribuition is over London look at this <a href="ProperMapPage.html"> map. </a> <br/><br/> -->
		<a href="statuses.html">List of http status code </a>is a list of most http status codes. Go on the page to see how you can use it. This pages is the front end for a http statuses API that can be used as the following example: <a href="/httpcodes/200"> HTTP code 200 </a> This will show you a 200 message and will send you an Http status of OK; for any other code, substitute 200 with the http code you want.<br/><br/>
		</div>
	</body>
</html>
