<!DOCTYPE html>
<html>
   <head>
   <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
      <title>
         Http statuses page
      </title>
   </head>
   <div id="marginTop"></div>
   <body id="centre">
   <p class="box">
   This is a list of http status codes
   Code: taken almost all from here <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes"> wikipedia </a>. When you click on the number, a page with the code description will open up for you to see. Under the cover, the page will send the code you clicked to your browser.
   If you want to use the codes directly without having to use the interface, like when using postman, then just call the code directly like that: "http://fc572.herokuapp.com/httpcodes/200". Happy testing!
   <br/><br/><br/> </p>
   <div class="box">
        Code: <a href="httpcodes/100">100 - Continue</a><br/><br/>
        Code: <a href="httpcodes/101">101 - Switching Protocols</a><br/><br/>
        Code: <a href="httpcodes/102">102 - Processing</a><br/><br/>
        Code: <a href="httpcodes/200">200 - OK</a><br/><br/>
        Code: <a href="httpcodes/201">201 - Created</a><br/><br/>
        Code: <a href="httpcodes/202">202 - Accepted</a><br/><br/>
        Code: <a href="httpcodes/203">203 - Non-Authoritative Information</a><br/><br/>
        Code: <a href="httpcodes/204">204 - No Content</a><br/><br/>
        Code: <a href="httpcodes/205">205 - Reset Content</a><br/><br/>
        Code: <a href="httpcodes/206">206 - Partial Content</a><br/><br/>
        Code: <a href="httpcodes/207">207 - Multi-Status</a><br/><br/>
        Code: <a href="httpcodes/208">208 - Already Reported</a><br/><br/>
        Code: <a href="httpcodes/226">226 - IM Used</a><br/><br/>
        Code: <a href="httpcodes/300">300 - Multiple Choices</a><br/><br/>
        Code: <a href="httpcodes/301">301 - Moved Permanently</a><br/><br/>
        Code: <a href="httpcodes/302">302 - Found</a><br/><br/>
        Code: <a href="httpcodes/303">303 - See Other</a><br/><br/>
        Code: <a href="httpcodes/304">304 - Not Modified</a><br/><br/>
        Code: <a href="httpcodes/305">305 - Use Proxy</a><br/><br/>
        Code: <a href="httpcodes/306">306 - Switch Proxy</a><br/><br/>
        Code: <a href="httpcodes/307">307 - Temporary Redirect</a><br/><br/>
        Code: <a href="httpcodes/308">308 - Permanent Redirect</a><br/><br/>
        Code: <a href="httpcodes/400">400 - Bad Request</a><br/><br/>
        Code: <a href="httpcodes/401">401 - Unauthorized</a><br/><br/>
        Code: <a href="httpcodes/402">402 - Payment Required</a><br/><br/>
        Code: <a href="httpcodes/403">403 - Forbidden</a><br/><br/>
        Code: <a href="httpcodes/404">404 - Not Found</a><br/><br/>
        Code: <a href="httpcodes/405">405 - Method Not Allowed</a><br/><br/>
        Code: <a href="httpcodes/406">406 - Not Acceptable</a><br/><br/>
        Code: <a href="httpcodes/407">407 - Proxy Authentication Required</a><br/><br/>
        Code: <a href="httpcodes/408">408 - Request Timeout</a><br/><br/>
        Code: <a href="httpcodes/409">409 - Conflict</a><br/><br/>
        Code: <a href="httpcodes/410">410 - Gone</a><br/><br/>
        Code: <a href="httpcodes/411">411 - Length Required</a><br/><br/>
        Code: <a href="httpcodes/412">412 - Precondition Failed</a><br/><br/>
        Code: <a href="httpcodes/413">413 - Payload Too Large</a><br/><br/>
        Code: <a href="httpcodes/414">414 - URI Too Long</a><br/><br/>
        Code: <a href="httpcodes/415">415 - Unsupported Media Type</a><br/><br/>
        Code: <a href="httpcodes/416">416 - Range Not Satisfiable</a><br/><br/>
        Code: <a href="httpcodes/417">417 - Expectation Failed</a><br/><br/>
        Code: <a href="httpcodes/418">418 - I'm a teapot</a><br/><br/>
        Code: <a href="httpcodes/421">421 - Misdirected Request</a><br/><br/>
        Code: <a href="httpcodes/422">422 - Unprocessable Entity</a><br/><br/>
        Code: <a href="httpcodes/423">423 - Locked</a><br/><br/>
        Code: <a href="httpcodes/424">424 - Failed Dependency</a><br/><br/>
        Code: <a href="httpcodes/425">425 - Unordered Collection</a><br/><br/>
        Code: <a href="httpcodes/426">426 - Upgrade Required</a><br/><br/>
        Code: <a href="httpcodes/428">428 - Precondition Required</a><br/><br/>
        Code: <a href="httpcodes/429">429 - Too Many Requests</a><br/><br/>
        Code: <a href="httpcodes/431">431 - Request Header Fields Too Large</a><br/><br/>
        Code: <a href="httpcodes/451">451 - Unavailable For Legal Reasons</a><br/><br/>
        Code: <a href="httpcodes/500">500 - Internal Server Error</a><br/><br/>
        Code: <a href="httpcodes/501">501 - Not Implemented</a><br/><br/>
        Code: <a href="httpcodes/502">502 - Bad Gateway</a><br/><br/>
        Code: <a href="httpcodes/503">503 - Service Unavailable</a><br/><br/>
        Code: <a href="httpcodes/504">504 - Gateway Timeout</a><br/><br/>
        Code: <a href="httpcodes/505">505 - HTTP Version Not Supported</a><br/><br/>
        Code: <a href="httpcodes/506">506 - Variant Also Negotiates</a><br/><br/>
        Code: <a href="httpcodes/507">507 - Insufficient Storage</a><br/><br/>
        Code: <a href="httpcodes/508">508 - Loop Detected</a><br/><br/>
        Code: <a href="httpcodes/509">509 - Bandwidth Limit Exceeded</a><br/><br/>
        Code: <a href="httpcodes/510">510 - Not Extended</a><br/><br/>
        Code: <a href="httpcodes/511">511 - Network Authentication Required</a><br/><br/>
    </div>
   </body>
</html>